@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100;300&family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&family=Montserrat:wght@100&family=Roboto:wght@100;300&family=Rubik+Pixels&display=swap');
:root{
  
      --dark-color: #00203FFF;
      --darker-color: #084C61FF;
      --darkest-color: #07689F;
      --light-color: #B5D9EB;
      --lighter-color: #CEE6F2;
      --lightest-color: #FEFFFF;
    
}
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      height:100%;
      padding-top: 80px;
      /* min-height:100vh;/ */

    }

    header {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 30px;
      justify-content: space-between;
      align-items: center;
      z-index: 99;
      background-color: var(--lightest-color);

    }

    .logo {
      font-size: 2rem;

    }

    .logo a {
      text-decoration: none;
      color: var(--dark-color);
      font-family: Arial, sans-serif;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }

    .navigation a {
      position: relative;
      color: var(--dark-color);
      margin-left: 40px;
      font-family: 'Geologica', sans-serif;
      font-size: 20px;
      text-decoration: none;
    }

    .navigation .btn-login {
      width: 130px;
      height: 50px;
      background: transparent;
      border: 2px solid var(--dark-color);
      background-color: var(--dark-color);
      border-radius: 17px;
      color: var(--lightest-color);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-left: 40px;
      transition: .5s;
    }

    .navigation .btn-login:hover {
      /* background-color: var(--lightest-color); */
      color: var(--dark-color);
    }

    .navigation .btn-login a {
      color: var(--lightest-color);
      margin: 0;
    }

    .navigation a::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      background: var(--darker-color);
      border-radius: 5px;
      left: 0;
      bottom: -6px;
      transform: scaleX(0);
      transition: transform .4s;
      transform-origin: right;
    }

    .navigation a:hover::after {
      transform-origin: left;
      transform: scaleX(1);
    }


    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 200px;
      margin-top: 180px;
    }

    .main {

flex:1;
      text-align: center;
    }

    .down-main-text {

      margin-top: 20px;
      font-weight: bold;

    }

    .main .btn-login {
      width: 130px;
      height: 50px;
      background: transparent;
      border: 2px solid var(--dark-color);
      background-color: var(--dark-color);
      border-radius: 7px;
      color: var(--lightest-color);
      margin-left: 40px;
      margin-top: 30px;
      transition: .5s;
    }

    .trust {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .trust .btn-login a {
      color: var(--lightest-color);
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 1rem;
      margin: 0;
    }

    .trust .btn-login {
      width: 130px;
      height: 50px;
      background: transparent;
      border: 2px solid var(--dark-color);
      background-color: var(--dark-color);
      border-radius: 7px;
      color: var(--lightest-color);
      margin-left: 40px;
      margin-top: 30px;
      transition: .5s;
      cursor: pointer;
    }
   
    .main .btn-login a {
      color: var(--lightest-color);
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 1rem;
      margin: 0;
    }

    .second-section {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      /* border:2px solid blue; */
    }

    .img-1 img {
      margin-top: 100px;
      width: 400px;
      height: auto;
      border-radius: 10px;
    }

    .benifit {
      font-weight: bold;
      margin-left: 70px;
      font-size: 1.5rem;

    }

    .benifit strong {
      font-size: 1.7rem;
      font-family: 'Geologica', sans-serif;
    }

    .img-2 img {
      margin-top: 100px;
      width: 500px;
      height: auto;
      border-radius: 10px;
    }

    .trust img {
      /* width: 100vw; */
      /* height: 300px; */
    }

    
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
      position: static;
  }
  header {
      padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
<<<<<<< HEAD
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
=======
  background-color:#0f0f0f;;
  flex-shrink: 0;
>>>>>>> dfa1cac0d44a8f6c9567949dbe664ec65147d7e5
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}


.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3F71EA;
}

.footer-links a:hover {
  color: #3F71EA;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}       
      

      