:root {
    --dark:#92c0c0;
    --darker:#5a7474;
    --darkest: #2d3b3b;
    --light: #cfedf5;
    --lighter: #e5f0f1;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--darker);
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height:200px;
    width:400px;
    margin-left:600px;
  }
  
  .header {
    background-color: var(--dark);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 200px;
  }
  
  .task-container .task-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .task-container input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .task-container button {
    padding: 5px 10px;
    background-color: var(--dark);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .task-list {
    background-color: var(--lighter);
    padding: 20px;
    border-radius: 4px;
    width: 100%;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 326px;
    margin-right: 46px;

  }
  
  .task input[type="text"] {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 4px;
  }
  
  .task button {
    padding: 5px 10px;
    background-color: var(--dark);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
  }
  .container .task-list button{
    margin-top:5px;

  }
  .task-container{
    margin-top:8px;
  }